
html{
	background-color: #5CFB71;
	font-family: cursive;
}

header {
	width: 100%;
	height: 300px;
	background-image: url("../img/design1_image1.jpg");
	background-position: 0px -30px;
	background-repeat: no-repeat;
	background-size: cover;
	
}

body{
	margin-top: 0px;
	border-top: 0px;
	padding-top: 0px;	
	margin-left: 0px;
	margin-right: 0px;
}

header h1{
	font-weight: normal;
	margin-top: 0;
	position: absolute;
	font-size: 50px;
}
.lista{
	list-style: none;
	position: relative;
	border: 4px double;
	height: 34px;
	background-color: white;
	padding-bottom: 2px;
}
.lista h3{
	margin-top: 0;
	height: 100%;
	padding-bottom: 2px;
	font-size: 25px;
	text-align: center;
	background-color: black;
	color: white;
 
}
nav{
	float: left;
	margin-top: 8px;
	margin-bottom: 100%;
}

nav li{
	list-style: none;
	margin-bottom: 75px;
}

.eventos {
	margin-left: 300px;
}

.eventos li{
	list-style: none;
	margin-top: 25px;
}

.valores{
	list-style: none;
	margin-left: 300px;
}

.logo{
	position: relative;
	background-color: white;
	float: right;
	width: 100px;
	height: 100px;
	right: 5em;
	margin-top: -35px;
	border: 4px double black;
	border-radius: 50px;
}

#email{
	margin-left: 300px;
}

a{
	color:blue;
	text-decoration: none;
}

a.activo{
	text-decoration: underline;
}

.rules{
	list-style: none;
}

.rules{
	margin-left: 300px;
	font-family: Arial, Helvetica, sans-serif;
}

.rules ul{
	list-style: none;
}

.rules h2{
	font-weight: normal;
	text-align: center;
}

.rules p{
	padding-left: 10px;
}

.cuadrado{
	list-style-type: square;
}

.letras{
	list-style-type: lower-alpha;
}

.circulo{
	list-style-type: circle;
}

.infoGamesTable{
	margin-left: 300px;
	width: 60%; 
	font-family: Arial, Helvetica, sans-serif;
}

table{
	width: 100%;
}

th, td{
	width: 25%;
	text-align: left;
}

td[rowspan]{
	text-align: center;
	padding-right: 60px;
}

form{
	margin-top: 25px;
	margin-left: 300px;
	font-family: Arial, Helvetica, sans-serif;
	width: 60%;
}

form .permiso{
	font-size: 14px;
}

form .lastName{
	margin-left: 150px;
}

form .zipCode{
	margin-left: 280px;
}

form .gender{
	margin-left: 280px;
}
